/* Reset and general styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: light;
    --background-color: #ffffff;
    --background-color-2: #d1d1d1;
    --background-color-3: #e7e7e7ef;
    --overlay-background: #d3d3d3d3;
    --text-color:  rgb(10 10 10);
    --text-color-2: #414141;
    --nav-hover: #ce7721;
    --button-background: #d6d6d6;
    --button-text: rgb(10 10 10);
    --border: rgb(224, 224, 224);
    --border-bottom: #333;
}

[data-theme="night"] {
    color-scheme: dark;
    --background-color: #121212;
    --background-color-2: #333;
    --background-color-3: #232323ef;
    --overlay-background: #333333d3;
    --text-color: rgb(229 229 229);
    --text-color-2: #ccc;
    --nav-hover: #ff9933;
    --button-background: #333333;
    --button-text: #ffffff;
    --border: #333;
    --border-bottom: #ffffff4f;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--background-color-2);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--background-color-3);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  ::-webkit-scrollbar-track-piece:end {
    background: var(--background-color);
  }
  
  ::-webkit-scrollbar-track-piece:start {
    background: var(--background-color);
  }
  

/* Navbar styles */
.navbar {
    background-color: var(--background-color-2);
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    user-select: none;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color-2);
    font-weight: bold;
    font-size: 16px;
    transition: .3s all ease;
}

.nav-menu a:hover {
    color: var(--nav-hover);
}

/* Container and card styles */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    width: 100%;
    padding: 0;
}

#sensor-count{
    font-weight: 300;
}
.sensor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.temperatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.left-column,
.right-column {
    width: 50%;
}



.right-column p {
    margin: 0;
    padding-right: 5px;
    margin-bottom: 5px;
}

.left-column .temp-label {
    margin-bottom: 5px;
}

.fa-regular, .fa-solid {
    font-size: 1rem !important;
    opacity: 0.8;
    margin-left: 0.33rem;
    margin-right: 0.52rem;
}

.nav-icon {
    margin-right: 8px;
}

.card {
    background-color: var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: all ease .5s;
    width: 100%;
    min-height: 222px;
}

.card-list {
    background-color: var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: all ease .5s;
    width: 100%;
}

.card:hover, .card-list:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.card h3, .card-list h3 {
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0;
    padding: 5px;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: var(--background-color-2); 
    margin: 0; 
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
}

.counter, .switch {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    flex-grow: 1; 
    padding: 0;
}

.unit-toggle {
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    color: rgb(229 229 229);
    border-bottom: 1px dotted #fff;
    user-select: none;
    transition: all 0.5s ease;
    padding: 0.25rem 0.5rem; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px; 
    margin-right: 5px;
}

.unit-toggle:hover {
    opacity: 0.8;
}

/* Settings Overlay */
.settings {
    position: absolute;
    background: var(--overlay-background);
    width: 600px;
    max-height: 60vh; 
    height: auto;
    top: 70px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 1em;
    display: flex;
    flex-direction: column;
    display: none;
}

.sensor-setting-list {
    max-height: calc(60vh - 70px); 
    height: 100%;
    margin: 1em;
    overflow: auto;
}

.btn-icon {
    font-size: 12px !important;
    margin: unset !important;
    margin-right: 5px !important;
}

.delete-btn {
    transition: all .2s ease;
}

.delete-btn:hover{
    background: rgb(179, 46, 46) !important;
}

.option button {
    background: var(--background-color-2); 
    color: var(--text-color); 
    border: none;
    padding: 8px 12px;
    margin-right: 10px; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.option button:hover {
    background: var(--background-color); 
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: 1em;
}

.option p {
    margin: 0;
    width: 150px;
    margin-right: 20px;
    user-select: none;
}

.option input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 13px;
    margin-right: 10px;
    background:var(--background-color-2);
}


.option input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 13px;
    margin-right: 10px;
    background:var(--background-color-2);
    color: var(--text-color);
    margin: 0;
    box-sizing: border-box;
}




.overlay-header {
    /* background: #333; */
    padding: 5px;
    border-radius: 10px;
    user-select: none;
}

.overlay-content h4 {
    margin-top: 0;
    user-select: none;
}

.overlay-content {
    background: var(--background-color-3);
    padding: 15px;
    border-radius: 10px;
    flex: 1; 
    margin: 1em;
    font-size: 0.9rem;
}

.settings-overlay-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333333d3;
    position: absolute;
    top: -15px;
    left: calc(50% + 138px);
    transform: translateX(-50%);
}

/* Specific card styles */
.temperature-card {
    background-color: var(--background-color);
    border: 1px solid var(--background-color-2);
}

.switch-card.on {
    background-color: transparent;
    box-shadow: inset 1px 1px 4px 0px rgb(255 255 255 / 19%), inset 2px 1px 15px 10px rgb(255 255 255 / 8%);
    border: 1px solid var(--background-color-2);
}

.switch-card.off {
    background-color: transparent;
    border: 1px solid var(--background-color-2);
    color: #e73e3e;
    box-shadow: inset 1px 1px 4px 0px #e73e3e23, inset 2px 1px 15px 10px rgba(255, 0, 0, 0.08);
    border-bottom: 1px solid rgba(231, 62, 62, 0.7);
}

.normal {
    background: transparent;
    border: 1px solid var(--background-color-2);
    box-shadow: inset 1px 1px 4px 0px #fffff323, inset 2px 1px 15px 10px #fffff00c;
    /* border-bottom: 1px solid var(--border-bottom); */
}

.medium {
    background: transparent;
    border: 1px solid var(--background-color-2);
    /* border-top: 2px dotted rgba(255, 153, 51, 0.7); */
    border-bottom: 1px solid rgba(255, 153, 51, 0.7);
    box-shadow: inset 1px 1px 4px 0px #ff993323, inset 2px 1px 15px 10px #ff80000c;
    color: #ff9933;
}

.high {
    background: transparent;
    border: 1px solid var(--background-color-2);
    border-bottom: 1px solid rgba(231, 62, 62, 0.7);
    color: #e73e3e;
    box-shadow: inset 1px 1px 4px 0px #e73e3e23, inset 2px 1px 15px 10px rgba(255, 0, 0, 0.08);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .settings {
        width: 95vw;
        padding: 0.15em;
    }
    .temp-label{
        font-size: 1rem !important;
    }
}



/*
    
*/

.temp-label{
    display:block;
    font-weight:200;
    font-size:0.81rem;
    color: var(--text-color-2);
}

@keyframes growProgressBar {
    0%, 33% { --tempPercentage: 0; }
    100% { --tempPercentage: var(--value); }
}

@property --tempPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}




div[role="temp-gauge-f"] {
    --size: 8rem;
    --fg: #333;
    --bg: #333;
    animation: growProgressBar .8s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, var(--background-color) 80%, transparent 0 99.9%, var(--button-background) 0),
      conic-gradient(var(--fg) calc(var(--tempPercentage) * 1%), var(--button-background) 0);
      font-family: 'Noto Sans', sans-serif;
    font-size: calc(var(--size) / 8);
    color: var(--fg);
    margin: auto;
}

div[role="temp-gauge-f"]::before {
    font-weight: 700;
    content: '째F ' attr(aria-valuenow);
}


div[role="mini-temp-gauge-f"] {
    --size: 4rem;
    --fg: #333;
    --bg: #333;
    animation: growProgressBar .8s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, var(--background-color) 80%, transparent 0 99.9%, var(--button-background) 0),
      conic-gradient(var(--fg) calc(var(--tempPercentage) * 1%), var(--button-background) 0);
      font-family: 'Noto Sans', sans-serif;
    font-size: calc(var(--size) / 6);
    color: var(--fg);
    margin: auto;
}

div[role="mini-temp-gauge-f"]::before {
    font-weight: 700;
    content: '째F ' attr(aria-valuenow);
}






div[role="temp-gauge-c"] {
    --size: 8rem;
    --fg: #333;
    --bg: #333;
    animation: growProgressBar .8s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, var(--background-color) 80%, transparent 0 99.9%, var(--button-background) 0),
      conic-gradient(var(--fg) calc(var(--tempPercentage) * 1%), var(--button-background) 0);
      font-family: 'Noto Sans', sans-serif;
    font-size: calc(var(--size) / 8);
    color: var(--fg);
    margin:auto;
}

div[role="temp-gauge-c"]::before {
    font-weight: 700;
    content: '째C ' attr(aria-valuenow);
}


div[role="mini-temp-gauge-c"] {
    --size: 4rem;
    --fg: #333;
    --bg: #333;
    animation: growProgressBar .8s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, var(--background-color) 80%, transparent 0 99.9%, var(--button-background) 0),
      conic-gradient(var(--fg) calc(var(--tempPercentage) * 1%), var(--button-background) 0);
      font-family: 'Noto Sans', sans-serif;
    font-size: calc(var(--size) / 6);
    color: var(--fg);
    margin: auto;
}

div[role="mini-temp-gauge-c"]::before {
    font-weight: 700;
    content: '째C ' attr(aria-valuenow);
}


/* Dashboard Options */

.dashboard-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #333; */
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    width: 100%;
}

.dashboard-filter-icons {
    display: flex;
    gap: 10px;
}

.dashboard-filter-icons button {
    background: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.dashboard-filter-sensor-count {
    text-align: center;
    flex-grow: 1; 
}

.dashboard-filter-mode-toggle button {
    background: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.dashboard-filter-mode-toggle button:hover, .dashboard-filter-icons button:hover {
    background: var(--background-color-2);
}